// gloval
//css frame-work BLUMA generic.scss
$body-background-color: $black !default;
$body-size: 62.5% !default;
$body-min-width: 500px !default;
$body-overflow-x: hidden !default;
$body-overflow-y: scroll !default;
$body-rendering: optimizeLegibility !default;
$body-base-color: $white !default;
$body-font-size: 1.6em !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;
$body-base-family: $font-family !default;
// $link: $white !default;
// $link-hover: $grey !default;
// $hr-background-color: $white !default;
// $hr-height: 2px !default;
// $hr-margin: 1.5rem 0 !default;
// $small-font-size: 0.875em !default;
// $strong-color: $blue !default;
// $strong-weight: $weight-bold !default;
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  background-color: $body-background-color;
  // font-size: 16px;
  // font-size: 62.5%;
  font-size: $body-size; //1em=10px
  min-width: $body-min-width;
  overflow-x: $body-overflow-x;
  overflow-y: $body-overflow-y;
  text-rendering: $body-rendering;
  text-size-adjust: 100%;
}
body {
  color: $body-base-color;
  font-size: $body-font-size; //1.6rem=16px
  font-weight: $body-weight;
  line-height: $body-line-height;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
//   margin: 0;
//   padding: 0;
// }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  vertical-align: middle;
  border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
p {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.6;
  color: inherit;
}

// .position-relative {
//   position: relative !important;
// }

// .position-absolute {
//   position: absolute !important;
// }

// .position-fixed {
//   position: fixed !important;
// }

// .position-sticky {
//   position: -webkit-sticky !important;
//   position: sticky !important;
// }

// .fixed-top {
//   position: fixed;
//   top: 0;
//   right: 0;
//   left: 0;
//   z-index: 1030;
// }

// .fixed-bottom {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1030;
// }
.d_block {
  display: block !important;
}
.d_none {
  display: none !important;
}
